.contanerDescription {
        display: flex;
        flex-direction: column;
        background-color: #fdfdfd;
        width: 751px;
        color: #212529; 
        margin-bottom: 16px;    
    }
    
    @media (max-width: 750px) {
        .contanerDescription {
            width: 100% 
        }
    }

    .tituloDescription {
        margin-top: 36px;
        margin-left: 44px;
        font-size: 20px;    
    }
    
    .description {
        padding-top: 16px;
        color: #495057;
        text-align: justify;
        font-size: 14px;
        padding-top:32px;
        padding-bottom: 36px;
        padding-left: 44px;
        padding-right: 44px;
    }
